<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>TRAVEL APP</title>
  
</head>

<body class="app--root">

  <div class="app">
      <div class="app__base">
            <main class="app__main">
              <div class="app__header">
                <h1 class="app__header--title">TRAVEL APP!</h1>
              </div>              
              <div class="app__content"> 
                <img src="" class="app__image">  
                <div class="app__content--weatherWrapp">  
                    <img src="" alt="" class="app__weather--img">        
                    <p class="app__weather--max"></p>
                    <p class="app__weather--min"></p>
                    <p class="app__weather--feel"></p>
                </div>                                           
              </div> 
              <div class="app__buttons"></div>             
          </main>

          <footer class="app__footer">
            <p>This is a footer</p>
          </footer>

      </div>
  </div>

  <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', ()=> {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>  
</body>
</html>