body {
    margin: 0.5rem;
    box-sizing: border-box;
}

.app__base {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;  
    font-size: 1.3rem;
    background: linear-gradient(90deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 0.6rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
}