.app__image {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.app__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__content--weatherWrapp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}