@media only screen and (max-width: 900px) {
    .app__header--title {
        text-align: center;
        font-size: 4rem;
    }

    .app__content--weatherWrapp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: center;
    }
    .app__buttons {
        display: flex;
        flex-direction: column;
    }
}